/*!
 * Roots 6.5.0
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

@wpadminbar-height:     28px;
@logo-size:             30px;


body {

   // Make space for fixed top navbar and WP adminbar
   padding-top: @navbar-height;
   &.admin-bar .navbar-fixed-top {
      top: @wpadminbar-height;
   }
}

img {
   max-width: 100%;
   height: auto;
}



/* ==========================================================================
   Header
   ========================================================================== */

.banner {

   background-color: @jumbotron-bg;
   border-bottom-color: @jumbotron-bg;

   // Logotype in navbar
   .navbar-brand {
      font-weight: bold;
      padding-left: (@navbar-padding-horizontal + @logo-size + @padding-small-horizontal);

      background: url('../img/apple-touch-icon-60x60.png') @navbar-padding-horizontal center no-repeat;
      background-size: @logo-size;
   }

   // Float navigation to the right on large screens
   @media (min-width: @screen-sm) {
      nav {
         .pull-right;
      }
   }

}

/**
 * Animation in response to hover (on no-touch devices)
 */
html.no-touch.cssanimations .banner.navbar-default {

   .transition(~'background-color 90ms linear, border-bottom-color 90ms linear');

   &:hover {
      background-color: @navbar-default-bg;
      border-bottom-color: @navbar-default-border;
   }
}

/**
 * Response to jumbotron overlap
 */
.banner.js-jumbotron-overlap {

   // Animate background color
   &.navbar-default {
      background-color: transparent;
      border-bottom-color: transparent;
   }
}

/**
 * Animation in response to jumbotron visibility
 */
html.cssanimations .banner {

   // Animate logo
   .transition(~'background-color 120ms linear, border-bottom-color 120ms linear');
   .navbar-brand {
      .transition(~'color 120ms ease-in-out, padding-left 120ms ease-in-out, background-position 120ms ease-in-out');
   }

   &.js-jumbotron-visible {
      .navbar-brand {
         color: transparent;
         padding-left: @navbar-padding-horizontal;
         background-position: -@logo-size center;
      }
   }
}



/* ==========================================================================
   Jumbotron
   ========================================================================== */

.jumbotron {
   .lead {
      margin-top: 44px;
      font-weight: bold;
   }
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm) { }

@media (min-width: @screen-md) { }

@media (min-width: @screen-lg) { }
