/*!
 * Roots 6.5.0
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

@wpadminbar-height:     28px;
@logo-size:             30px;


body {

   // Make space for fixed top navbar and WP adminbar
   padding-top: @navbar-height;
   &.admin-bar .navbar-fixed-top {
      top: @wpadminbar-height;
   }
}

img {
   max-width: 100%;
   height: auto;
}



/* ==========================================================================
   Header
   ========================================================================== */

.banner {

   background-color: @jumbotron-bg;
   border-bottom-color: @jumbotron-bg;

   // Logotype in navbar
   .navbar-brand {
      font-weight: bold;
      padding-left: (@navbar-padding-horizontal + @logo-size + @padding-small-horizontal);

      background: url('../img/apple-touch-icon-60x60.png') @navbar-padding-horizontal center no-repeat;
      background-size: @logo-size;
   }

   // Float navigation to the right on large screens
   @media (min-width: @screen-sm) {
      nav {
         .pull-right;
      }
   }

}

/**
 * Animation in response to hover (on no-touch devices)
 */
html.no-touch.cssanimations .banner.navbar-default {

   &:hover {
      .transition(~'background-color 90ms linear, border-bottom-color 90ms linear');
      background-color: @navbar-default-bg;
      border-bottom-color: @navbar-default-border;
   }
}

/**
 * Response to jumbotron overlap
 */
.banner.js-jumbotron-overlap {

   // Animate background color
   &.navbar-default {
      background-color: transparent;
      border-bottom-color: transparent;
   }
}

/**
 * Animation in response to jumbotron visibility
 */
html.cssanimations .banner {

   // Animate logo
   .navbar-brand {
      .transition(~'color 120ms ease-in-out, padding-left 120ms ease-in-out, background-position 120ms ease-in-out');
   }

   &.js-jumbotron-visible {
      .navbar-brand {
         color: transparent;
         padding-left: @navbar-padding-horizontal;
         background-position: -@logo-size center;
      }
   }
}



/* ==========================================================================
   Jumbotron
   ========================================================================== */

.jumbotron {
   // Responsive background pattern
   background-image: url('../img/bgpattern.png');
   background-position: top center;
   background-repeat: no-repeat;
   @media (min-width: @container-lg-desktop) {
      background-size: contain;
   }

   // Place underneath navbar
   margin-top: -@navbar-height;

   // Remove default bottom margin
   margin-bottom: 0;

   // Push lead text down
   .lead {
      margin-top: 44px;
      font-weight: bold;
   }

   // Center text on very small screens
   @media (max-width: @screen-xs) {
      text-align: center;

      // Line break around abbreviations
      abbr {
         white-space: pre;
         &:before,
         &:after {
            content: "\A";
         }
      }
   }
}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
  margin-top: (2 * @padding-large-vertical);
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {

  // Roughly align top with page header border
  margin-top: ((2 * @padding-large-vertical) + 100px);

  // Push content down if thumbnail is present
  .wp-post-image {
    margin-bottom: (2 * @padding-large-vertical);
  }
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header {
  .clearfix();
}
.hentry .meta { }
.hentry time,
.hentry .byline {
  .text-muted;
  display: inline-block;
}
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Newsfeed
   ========================================================================== */

.newsfeed {
  border-top: 1px solid @hr-border;

  .list-unstyled();

  .newsfeed-item {
    border-bottom: 1px dotted @hr-border;

    a {
      .clearfix();
      display: block;
      margin-left: -(@grid-gutter-width / 2);
      margin-right: -(@grid-gutter-width / 2);
      padding-left: (@grid-gutter-width / 2);
      padding-right: (@grid-gutter-width / 2);
      padding-top: @padding-large-vertical;
      padding-bottom: @padding-large-vertical;

      .transition(~'background-color 60ms linear, color 60ms linear');

      &:hover,
      &:focus {
        background-color: @brand-info;
        color: white;
      }
    }

    h2 {
      .h4;
      .pull-left;
    }

    .meta {
      .pull-right;
    }
  }

}



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
   border-top: 1px solid @hr-border;

   margin-top: @padding-large-horizontal;
   margin-bottom: @padding-large-horizontal;
   padding-top: @padding-large-horizontal;
   padding-bottom: @padding-large-horizontal;

   // Logo images
   img {
      .pull-right;
      margin-left: @padding-base-horizontal;
      max-height: 120px;
   }
}



/* ==========================================================================
   WPML language selector
   ========================================================================== */

.lang_sel_list_horizontal {
  margin: @padding-large-vertical 0;

  // Bootstrap nav-tabs
  ul {
    .nav;
    .nav-tabs;

    // Active state
    li a.lang_sel_sel {
      color: @nav-tabs-active-link-hover-color;
      background-color: @nav-tabs-active-link-hover-bg;
      border: 1px solid @nav-tabs-active-link-hover-border-color;
      border-bottom-color: transparent;
      cursor: default;
    }
  }
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm) { }

@media (min-width: @screen-md) { }

@media (min-width: @screen-lg) { }
