/*!
 * Roots 6.5.0
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

@wpadminbar-height:     28px;
@logo-size:             30px;


body {

   // Make space for fixed top navbar and WP adminbar
   padding-top: @navbar-height;
   &.admin-bar .navbar-fixed-top {
      top: @wpadminbar-height;
   }
}



/* ==========================================================================
   Header
   ========================================================================== */

.banner {

   // Animate navbar background-color on hover
   &.navbar-default {
      background-color: @jumbotron-bg;
      .transition(~'background-color 90ms linear');

      &:hover {
         background-color: @navbar-default-bg;
      }
   }

   // Logotype in navbar
   .navbar-brand {
      font-weight: bold;
      padding-left: (@navbar-padding-horizontal + @logo-size + @padding-small-horizontal);

      background: url('../img/apple-touch-icon-60x60.png') @navbar-padding-horizontal center no-repeat;
      background-size: @logo-size;

      .transition(~'padding-left 120ms ease-in-out, background-position 120ms ease-in-out');

      // "Skinny" version of the logo, without the symbol
      &.js-jumbotron-visible {
         padding-left: @navbar-padding-horizontal;
         background-position: -@logo-size center;
      }
   }

   // Float navigation to the right on large screens
   @media (min-width: @screen-sm) {
      nav {
         .pull-right;
      }
   }

}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm) { }

@media (min-width: @screen-md) { }

@media (min-width: @screen-lg) { }
